* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  height: auto;
  background-color: #f1da7c;
}
.container h1 {
  text-align: center;
}

.payBtn {
  background-color: #d46f10;
  color: white;
  justify-content: end;
  margin-bottom: 20px;
}
