* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #d46f10;
}

.container {
  margin: auto;
  height: auto;
  background-color: #e9e9e9;
}
.container h1 {
  text-align: center;
  color: #d46f10;
}

.payBtn {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #d46f10;
  color: white;
  font-weight: 600;
  justify-content: end;
  margin-bottom: 20px;
}

.payBtn:hover {
  background-color: #f19b4a;
  color: rgb(0, 0, 0);
}
