* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  height: 100vh;
  position: relative;

  align-items: center;
}
.buttonSection {
  display: flex;
  height: 500px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.routBtn {
  background-color: #fff9e1;
  color: #d46f10;
  font-weight: 600;
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 10px;
}

.routBtn:hover {
  background-color: #d46f10;
  color: #fff9e1;
}
